.container {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
}
header , section , footer , nav , main , article , figure {
    display: block;
}