.container {
    display: flex;
    flex-direction: column;
}
.centro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 section , footer , nav , main , article , figure {
    display: block;
}
.point   {
 display: flex;
flex-direction: column;
align-items: center;
color: darkblue;
}
input[type="text"],select[name="classe"]{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}
.ref {
    display: flex;
    flex-direction: column;
    align-items: end;
}